@use "base/mixins" as m;
@use "base/variables" as v;
.cita{
    background-image: url(../img/bg_citas.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; //PARALLAX
    padding: 5rem 0;
    text-align: center;
    &__heading{
        @include m.heading;
        font-size: 6rem;
        color: v.$blanco;
    }
    &__texto{
        margin: 0 auto;
        color: v.$blanco;
        max-width: 60rem;
        line-height: 2

    }
    &__enlace{
        @include m.boton(v.$primario,v.$blanco);
        padding: 2rem 10rem;

    }
}