@use "base/mixins" as m;
@use "base/variables" as v;

.horario {
  background-image: linear-gradient(
      to bottom,
      v.$primario 0%,
      v.$primario 50%,
      transparent 50%,
      transparent 100%
    ),
    url("../img/bg_horarios.webp");
  background-position: center, bottom center;
  background-repeat: no-repeat;
  color: v.$blanco;
  @include m.tablet {
    background-image: linear-gradient(
        to right,
        v.$primario 0%,
        v.$primario 50%,
        transparent 50%,
        transparent 100%
      ),
      url("../img/bg_horarios.webp");
    background-position: center, top right;
  }
  &__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    @include m.tablet {
      grid-template-rows: unset;
      @include m.grid(2, 5rem);
    }
  }
  &__contenido {
    padding: 5rem 0;
  }
  &__heading {
    @include m.heading;
  }
  &__texto {
    font-size: 2.2rem;
    line-height: 1.8;
    text-align: center;
  }
}

.tabla {
  width: 100%;
  border: 0.5rem solid v.$secundario;
  text-align: center;
  border-collapse: collapse;
  &__thead {
    background-color: v.$secundario;
  }
  &__th {
    padding: 2rem;
  }
  &__td {
    padding: 1rem;
    font-size: 2.2rem;
  }
  &__tr {
    &:hover {
      cursor: pointer;
      background-color: darken(v.$primario, 10%);
    }
  }
}
